<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GradeAid</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>GradeAid - An Smart Exam Grading Assistant</h1>
    </header>
    <main>
      <div id="input_area">
        <section id="input_text">
          <!-- cols="180" -->
          <textarea
            rows="20"
            id="input_text_area"
            placeholder="Enter Your Essay Here"
          ></textarea>
        </section>
        <!-- view uploaded image here -->
        <section id="image">
          <img id="uploaded_image" alt="Upload an Image to view" /><br /><br />
          <!-- <label for="image_input"></label> -->
          <input id="image_input" type="file" name="name" accept="image/*" />
        </section>
      </div>

      <div id="actions_area">
        <!-- <button class="btn btn-outline-light" onclick="openModal()">
          Upload Image
        </button> -->
        <button
          type="button"
          class="btn btn-outline-light"
          onclick="senddata()"
        >
          Score my Essay!
        </button>
        <!-- style="display: none" -->
      </div>
    </main>
    <h3 id="output"></h3>
    <script>
      function senddata() {
        var text = document.getElementById("main");
        var output = document.getElementById("output");
        const obj = {
          text: text.value,
        };
        const str = JSON.stringify(obj);
        fetch("http://127.0.0.1:5000/", {
          method: "POST",
          body: JSON.stringify(obj),
        })
          .then((response) => response.json())
          .then((result) => {
            if (!result) {
              output.innerHTML = "Your grade is: 0/10";
            } else {
              output.innerHTML = "Your grade is:" + result.score + "/10";
            }
            console.log("Success:", result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // function openModal() {
      //   document.getElementById("file-input").click();
      // }

      // if image has been uploaded, display it
      document.getElementById("image_input").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
          // document.getElementById('image')
          document.getElementById("uploaded_image").src = e.target.result;
          document.getElementById("uploaded_image").alt = "Input Image";
          document.getElementById("uploaded_image").style.border =
            "1px solid black";
          document.getElementById("image_input").style.display = "none";
          // "<img src='" + e.target.result + "' alt='input image' />";
        };
        reader.readAsDataURL(this.files[0]);
        // sendImage();
      };

      // send image to backend server
      // function sendImage() {
      //   var image = document.getElementById("file-input");
      //   var formData = new FormData();
      //   console.log(image.files, image.value);
      //   formData.append("image", image.files[0]);
      //   fetch("http://127.0.0.1:5000/", {
      //     method: "POST",
      //     body: formData,
      //   })
      //     .then((response) => response.json())
      //     .then((result) => {
      //       console.log("Success:", result);
      //     })
      //     .catch((error) => {
      //       console.error("Error:", error);
      //     });
      // }
    </script>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
