<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GradeAid</title>
    <link
      href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="mui-appbar">
      <h1>GradeAid - An Smart Exam Grading Assistant</h1>
    </header>
    <main>
      <ul class="mui-tabs__bar">
        <li class="mui--is-active">
          <a data-mui-toggle="tab" data-mui-controls="pane-default-1"
            >Text Only</a
          >
        </li>
        <li>
          <a data-mui-toggle="tab" data-mui-controls="pane-default-2"
            >OCR Grading</a
          >
        </li>
      </ul>
      <div class="mui-tabs__pane mui--is-active" id="pane-default-1">
        <div class="actions_area" id="actions_area1">
          <button
            type="button"
            class="mui-btn mui-btn--raised mui-btn--primary"
            onclick="senddata()"
          >
            Grade the Answer!
          </button>
        </div>
        <div id="input_area1" class="input_area">
          <section id="input_text1" class="mui-panel input_text">
            <textarea
              rows="20"
              class="input_text_area"
              id="input_text_area1"
              placeholder="Student's Answer"
            ></textarea>
            Toggle Answer Key
            <label class="switch">
              <input type="checkbox" onchange="toggleAnswerKey(1)" />
              <span class="slider round"></span>
            </label>
            <textarea
              rows="10"
              class="answer_key"
              id="answer_key1"
              style="display: none"
              placeholder="Answer Key"
            ></textarea>
          </section>
        </div>
      </div>
      <div class="mui-tabs__pane" id="pane-default-2">
        <div id="input_area2" class="input_area">
          <section id="image">
            <img
              id="uploaded_image"
              alt="Upload an Image to view"
            /><br /><br />
            <input id="image_input" type="file" name="name" accept="image/*" />
          </section>
          <section id="input_text2" class="mui-panel input_text">
            <div class="actions_area" id="actions_area2">
              <button
                type="button"
                class="mui-btn mui-btn--raised mui-btn--primary"
                onclick="senddata()"
              >
                Grade the Answer!
              </button>
              <button
                type="button"
                class="mui-btn mui-btn--raised mui-btn--danger"
                onclick="sendImage()"
              >
                Perform OCR!
              </button>
            </div>
            <textarea
              rows="20"
              class="input_text_area"
              id="input_text_area2"
              placeholder="Student's Answer"
            ></textarea>
            Toggle Answer Key
            <label class="switch">
              <input type="checkbox" onchange="toggleAnswerKey(2)" />
              <span class="slider round"></span>
            </label>
            <textarea
              rows="10"
              class="answer_key"
              id="answer_key2"
              style="display: none"
              placeholder="Answer Key"
            ></textarea>
          </section>
        </div>

        <!-- <div id="actions_area">
          <button
            type="button"
            class="mui-btn mui-btn--raised mui-btn--primary"
            onclick="senddata()"
          >
            Grade the Answer!
          </button>
          <button
            type="button"
            class="mui-btn mui-btn--raised mui-btn--danger"
            onclick="sendImage()"
          >
            Perform OCR!
          </button>
        </div> -->
      </div>

      <!-- <div id="input_area">
        <section id="input_text" class="mui-panel">
          <textarea
            rows="20"
            id="input_text_area"
            placeholder="Student's Answer"
          ></textarea>
          <textarea
            rows="10"
            id="answer_key"
            placeholder="Answer Key"
          ></textarea>
        </section>
        <section id="image">
          <img id="uploaded_image" alt="Upload an Image to view" /><br /><br />
          <input id="image_input" type="file" name="name" accept="image/*" />
        </section>
      </div> -->

      <!-- <div id="actions_area">
        <button
          type="button"
          class="mui-btn mui-btn--raised mui-btn--primary"
          onclick="senddata()"
        >
          Grade the Answer!
        </button>
        <button
          type="button"
          class="mui-btn mui-btn--raised mui-btn--danger"
          onclick="sendImage()"
        >
          Perform OCR!
        </button>
      </div> -->
    </main>
    <section id="output"></section>
    <script>
      function toggleAnswerKey(id) {
        let curr = document.getElementById("answer_key" + id).style.display;
        if (curr === "none") {
          document.getElementById("answer_key" + id).style.display = "block";
        } else {
          document.getElementById("answer_key" + id).style.display = "none";
        }
      }

      function senddata() {
        var text = document.getElementById("input_text_area");
        var output = document.getElementById("output");
        const obj = {
          text: text.value,
        };
        const str = JSON.stringify(obj);
        fetch("http://127.0.0.1:5000/grade", {
          method: "POST",
          body: JSON.stringify(obj),
        })
          .then((response) => response.json())
          .then((result) => {
            if (!result) {
              output.innerHTML = "Your grade is: 0/10";
            } else {
              output.innerHTML = "Your grade is:" + result.score + "/10";
            }
            console.log("Success:", result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      document.getElementById("image_input").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("uploaded_image").src = e.target.result;
          document.getElementById("uploaded_image").alt = "Input Image";
          document.getElementById("uploaded_image").style.border =
            "1px solid black";
          document.getElementById("image_input").style.display = "none";
        };
        reader.readAsDataURL(this.files[0]);
      };

      // send image to backend server
      function sendImage() {
        var image = document.getElementById("image_input");
        var text = document.getElementById("input_text_area");
        var formData = new FormData();
        console.log(image.files, image.value);
        formData.append("image", image.files[0]);
        fetch("http://127.0.0.1:5000/ocr", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((result) => {
            text.value = result.text;
            console.log("Success:", result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
